:root {
  --vp-layout-max-width: 100%;
}

.VPDoc:not(.has-sidebar) .container {
  max-width: 80% !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 50% !important;
}

.VPDoc.has-aside .content-container {
  max-width: 80% !important;
} 